---
import CentredContent from '../layouts/CentredContent.astro'
import Document from '../layouts/Document.astro'
import TopBar from '../layouts/TopBar.astro'

import RandomHello from '../components/react/index/RandomHello'
import Button from '../components/react/ui/Button'
import GitHubImage from '../../public/github-mark.svg'
import OpenInNew from '../../public/materialIcons/open-in-new.svg'

// TODO: Move RandomHello to vanilla JS
// TODO: Add EnderChat dark mode and IveBot images
// TODO: Fade the top and bottom of the page as you scroll?

// Internal images: EnderChat, imprint, octyne
// External images: concinnity, MythicMC
---

<Document
  title="Home - retrixe's site"
  description='The home page to my website.'
  url='https://retrixe.xyz/'
>
  <TopBar />
  <CentredContent>
    <header class='segment-with-image header'>
      <div>
        <RandomHello client:load />
        <br />
        <p>
          I'm a student at MIT World Peace University, with years of experience working on many
          different projects. Formerly worked full-time at Apconic Software Pvt Ltd for a year, and
          in my spare time, I work on multiple open-source projects.
        </p>
      </div>
      <img src='https://github.com/retrixe.png' alt='ibu' />
    </header>
    <div class='segment'>
      <ul class='list'>
        <li>
          🎆 I have in-depth experience using JavaScript (TypeScript, Node.js, React, React Native
          and associated tools like Babel and webpack), Java, Kotlin and Golang (a personal
          favourite). I'm also familiar with using MySQL/MariaDB, PostgreSQL, MongoDB and Redis.
          I've worked with and studied many more technologies, so this is hardly an exhaustive list.
        </li>
        <li>
          🐧 I'm highly experienced with using Linux and system administration (tools like systemd,
          package management with apt/rpm, repairing broken systems, livepatch/kpatch, maintenance,
          system partitioning, database setup, nginx, etc).
        </li>
        <li>🔍 I'm really good at googling and following the xkcd tech support cheat sheet.</li>
        <li>
          🌱 I’m currently learning how to write a programming language and getting more familiar
          with C++ and Rust.
        </li>
        <li>
          🎓 I'm currently studying a bachelor's degree in Computer Science at MIT World Peace
          University.
        </li>
      </ul>
    </div>
    <hr />
    <div class='segment-with-image invert-on-mobile'>
      <div>
        <h2>EnderChat</h2>
        <br />
        <p>An app for Android/iOS to chat on Minecraft servers from your phone.</p>
        <br />
        <a
          href='https://play.google.com/store/apps/details?id=com.enderchat'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button className='gutter-bottom'><OpenInNew /> EnderChat on Play Store</Button>
        </a>
        <a
          href='https://github.com/retrixe/EnderChat'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button>
            <GitHubImage class='github-image' viewBox='0 0 98 96' height='1.2em' width='1.2em' />
            EnderChat on GitHub
          </Button>
        </a>
      </div>
      <picture>
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/enderchat-light.webp'
        />
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/enderchat-light.avif'
        />
        <img
          class='segment-image'
          alt='Screenshots of EnderChat in action'
          src='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/enderchat-light.png'
          style='aspect-ratio: 4320 / 2560;'
        />
      </picture>
    </div>
    <hr />
    <div class='segment-with-image'>
      <picture>
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/octyne.avif'
        />
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/octyne.webp'
        />
        <img
          class='segment-image'
          alt='A screenshot of Octyne/Ecthelion in action'
          src='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/octyne.png'
          style='aspect-ratio: 3296 / 2060;'
        />
      </picture>
      <div>
        <h2>Octyne/Ecthelion</h2>
        <br />
        <p>
          A process manager with an HTTP API for console and file access.
          <br />
          Ecthelion complements Octyne as the web dashboard for remote administration.
        </p>
        <br />
        <a
          href='https://github.com/retrixe/octyne'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button className='gutter-bottom'>
            <GitHubImage class='github-image' viewBox='0 0 98 96' height='1.2em' width='1.2em' />
            Octyne on GitHub
          </Button>
        </a>
        <a
          href='https://github.com/retrixe/ecthelion'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button>
            <GitHubImage class='github-image' viewBox='0 0 98 96' height='1.2em' width='1.2em' />
            Ecthelion on GitHub
          </Button>
        </a>
      </div>
    </div>
    <hr />
    <div class='segment-with-image invert-on-mobile'>
      <div>
        <h2>imprint</h2>
        <br />
        <p>
          An small, intuitive app to flash ISOs and disk images to external drives e.g. USB drives.
        </p>
        <br />
        <a
          href='https://github.com/retrixe/imprint'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button>
            <GitHubImage class='github-image' viewBox='0 0 98 96' height='1.2em' width='1.2em' />
            imprint on GitHub
          </Button>
        </a>
      </div>
      <picture>
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/imprint-dark-noshadow.avif'
          media='(prefers-color-scheme: dark)'
        />
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/imprint-dark-noshadow.webp'
          media='(prefers-color-scheme: dark)'
        />
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/imprint-light-noshadow.avif'
        />
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/imprint-light-noshadow.webp'
        />
        <img
          class='segment-image'
          alt='A screenshot of Imprint'
          src='https://f002.backblazeb2.com/file/retrixe-storage-public/retrixe.xyz/imprint-light-noshadow.png'
          style='aspect-ratio: 1281 / 714;'
        />
      </picture>
    </div>
    <hr />
    <div class='segment-with-image'>
      <picture>
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-dark.avif'
          media='(prefers-color-scheme: dark)'
        />
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-dark.webp'
          media='(prefers-color-scheme: dark)'
        />
        <source
          type='image/jpeg'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-dark.jpg'
          media='(prefers-color-scheme: dark)'
        />
        <source
          type='image/avif'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-light.avif'
        />
        <source
          type='image/webp'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-light.webp'
        />
        <source
          type='image/jpeg'
          srcset='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-light.jpg'
        />
        <img
          class='segment-image'
          alt='A screenshot of the concinnity website'
          src='https://f002.backblazeb2.com/file/retrixe-storage-public/concinnity/demo-light.jpg'
          style='aspect-ratio: 3296 / 2060;'
        />
      </picture>
      <div>
        <h2>concinnity</h2>
        <br />
        <p>Watch videos together with others on the internet.</p>
        <br />
        <a
          href='https://concinnity.retrixe.xyz'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button className='gutter-bottom'><OpenInNew /> Try it out!</Button>
        </a>
        <a
          href='https://github.com/retrixe/concinnity'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button>
            <GitHubImage class='github-image' viewBox='0 0 98 96' height='1.2em' width='1.2em' />
            concinnity on GitHub
          </Button>
        </a>
      </div>
    </div>
    <hr />
    <div class='segment-with-image'>
      <div>
        <h2>IveBot</h2>
        <br />
        <p>
          The bot that made the iPhone X. A multipurpose Discord bot with a large suite of features.
        </p>
        <br />
        <a
          href='https://ivebot.vercel.app'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button><OpenInNew /> IveBot dashboard</Button>
        </a>
      </div>
    </div>
    <hr />
    <div class='segment-with-image'>
      <img
        class='segment-image'
        src='https://mythicmc.org/assets/mythic_spawn.jpeg'
        alt='A screenshot playing MythicMC'
        style='aspect-ratio: 1920 / 1080;'
      />
      <div>
        <h2>MythicMC</h2>
        <br />
        <p>A Minecraft server with factions, survival, creative, minigames and PvP.</p>
        <br />
        <p>
          My work on MythicMC has been extensive, e.g. developing plugins to control game behaviour,
          control player permissions, a fully custom
          <a href='https://store.mythicmc.org'>storefront</a>, handling system administration, etc.
        </p>
        <br />
        <a
          href='https://mythicmc.org'
          target='_blank'
          rel='noopener noreferrer'
          class='unstyled-link'
        >
          <Button><OpenInNew /> MythicMC website</Button>
        </a>
      </div>
    </div>
    <hr />
    <div class='segment'>
      <h2>...and more</h2>
      <br />
      <p>
        My GitLab has some
        <a href='https://gitlab.com/retrixe'>random Minecraft mods and plugins</a>
        I wrote for fun :^)
      </p>
      <br />
      <p>
        📰 I have a bunch of projects I no longer maintain, but they still might be interesting to
        someone: <a href='https://github.com/retrixe/salezy'>salezy</a>,
        <a href='https://github.com/retrixe/modpack'>modpack</a>,
        <a href='https://github.com/retrixe/udp_over_tcp'>udp_over_tcp</a>,
        <a href='https://github.com/retrixe/bug-tracker'>bug-tracker</a>,
        <a href='https://github.com/retrixe/coupe-video'>coupe-video</a>,
        <a href='https://github.com/cerulean-app'>cerulean</a>,
        <a href='https://github.com/ezchat'>ez.chat</a>,
        <a href='https://github.com/retrixe/area51'>Area51</a>,
        <a href='https://github.com/retrixe/decaffeinater'>decaffeinater</a>, and reconsole.
      </p>
    </div>
    <hr />
    <div class='segment'>
      <h2>Reach me at...</h2>
      <br />
      <p>
        📫 <a href='mailto:contact@retrixe.xyz'>contact@retrixe.xyz</a> :^) I'm
        <a href='https://github.com/retrixe'>@retrixe</a> on GitHub, and I have a Discord server for
        my projects <a href='https://discord.gg/MFSJa9TpPS'>here</a>.
      </p>
      <br />
      <p>
        💬 Ask me about... anything, really! I have a lot of different interests I'd love to talk
        about, and if you need help with anything hardware/software, I'm sure I can point you in the
        right direction!
      </p>
    </div>
    <hr />
    <footer class='segment-with-image footer'>
      <p>⚡ Fun fact: Samsung is currently ~20% of South Korea’s GDP.</p>
      <p>🐛 Good tip: Minimise external dependencies in your projects.</p>
    </footer>
  </CentredContent>
</Document>

<style lang='scss'>
  .list {
    padding-left: 2rem;
    > li {
      padding: 0.5rem 0;
    }
  }

  .segment {
    margin: 2rem 1rem;
  }

  .segment-with-image {
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    @media screen and (max-width: 600px) {
      align-items: baseline;
      flex-direction: column;
      &.invert-on-mobile {
        flex-direction: column-reverse;
      }
    }
  }

  picture {
    display: contents;
    source {
      display: none;
    }
  }

  .segment-image {
    min-width: 40%; /* Fix annoying layout shifts */
    width: 40%;
    border-radius: 8px;
    filter: drop-shadow(0 0 1rem var(--link-color));
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .header {
    gap: 2rem;
    /* Shrink gap between header and the next segment */
    margin-bottom: 1rem;
    + .segment {
      margin-top: 0;
    }
    :global(h1) {
      line-height: 2.5rem; /* Fix annoying layout shifts */
    }
    @media screen and (max-width: 600px) {
      align-items: center;
      flex-direction: column-reverse;
    }

    img {
      border-radius: 50%;
      min-width: 100px; /* Fix annoying layout shifts */
      min-height: 100px;
      width: 100px;
      height: 100px;
      @media screen and (max-width: 600px) {
        width: 150px;
        height: 150px;
      }
    }
  }

  .footer {
    align-items: baseline;
    gap: 1rem;
    text-align: center;
  }

  .unstyled-link {
    color: var(--color);
    text-decoration: none;
    display: contents;
  }

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    svg {
      height: 1.2em;
      width: 24px;
      fill: var(--color);
    }
  }

  .gutter-bottom {
    margin-bottom: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    .github-image {
      filter: brightness(0) invert(1);
    }
  }
</style>
