---
import GitHubImage from '../../public/github-mark.svg'

// Based on Concinnity's TopBar

const getLinkClass = (path: string) => [
  Astro.routePattern === path ? 'styled-link' : 'unstyled-link',
]
---

<div class='top-bar'>
  <h1 class='top-bar-title'>
    <a class='unstyled-link' href='/'>retrixe's site</a>
  </h1>

  <a href='/' class:list={getLinkClass('/')}>Home</a>
  <div class='divider'></div>
  <a href='/experiments' class:list={getLinkClass('/experiments')}>Experiments</a>
  <div class='divider'></div>
  <a
    href='https://github.com/retrixe'
    target='_blank'
    rel='noopener noreferrer'
    class='unstyled-link last-link'
  >
    <GitHubImage class='github-image' viewBox='0 0 98 96' height='28' width='28' />
  </a>
</div>

<div class='top-bar-spacer'></div>

<style lang='scss'>
  .top-bar {
    z-index: 100;
    height: 4rem;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--divider-color);
  }

  .top-bar-spacer {
    height: 4rem;
  }

  .top-bar-title {
    font-size: 1.5rem;
    line-height: 1;
    flex: 1;
  }

  .unstyled-link {
    color: inherit;
    text-decoration: none;
  }

  .styled-link {
    font-weight: bold;
    text-decoration: none;
  }

  .divider {
    border-left: 1px solid var(--divider-color);
    height: 28px;
    margin: 0px 8px;
  }

  @media (prefers-color-scheme: dark) {
    .github-image {
      filter: brightness(0) invert(1);
    }
  }
</style>
